.partner-scroll-wrapper {
  overflow: hidden;
  width: 100%;
}

.partner-scroll-track {
  display: flex;
  width: max-content;
  animation: scrollLeft 30s linear infinite;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
